<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PayRecMapper">

	 <resultMap id="payrecSelectMap" 	type="com.model2.mvc.service.domain.PayRec">
		<result property="paymentNumber" 		column="PNO" 		jdbcType="INTEGER"/>
		<result property="studentId"			column="STID" 		jdbcType="VARCHAR"/>
		<result property="recordNo" 			column="RECNO" 		jdbcType="INTEGER"/>
		<result property="paymentName" 			column="PNAME" 		jdbcType="VARCHAR"/>
		<result property="paymentDate" 			column="PDATE" 		jdbcType="DATE"/>
		<result property="paymentCardName" 		column="PCDNAME" 	jdbcType="VARCHAR"/>
		<result property="paymentCardNumber" 	column="PCDNUM" 	jdbcType="INTEGER"/>
		<result property="paymentCardPassword" 	column="PCDPW" 		jdbcType="INTEGER"/>
		<result property="paymentMoney"			column="PMONEY" 	jdbcType="INTEGER"/>
	</resultMap>

	 <!-- insert -->
	 <insert id="addPayRec" parameterType="payrec">
		INSERT
		INTO payrec(PNO, STID, RECNO, PNAME, PDATE, PCDNAME, PCDNUM, PCDPW, PMONEY)
		VALUES (seq_payrec_PNO.nextval, #{studentId:VARCHAR}, #{recordNo:INTEGER}, #{paymentName:VARCHAR}, 
		SYSDATE, #{paymentCardName:VARCHAR}, #{paymentCardNumber:INTEGER}, #{paymentCardPassword:INTEGER}, 30000)
	 </insert>
	 
	 <!-- select List -->
	 <select id="getPayRecList" resultMap="payrecSelectMap">
	 	SELECT PNO, STID, RECNO, PNAME, PDATE, PCDNAME, PCDNUM, PCDPW, PMONEY, ROWNUM AS row_seq
	 	FROM payrec
	 </select>
	 
	 <!-- select -->
	 <select id="getPayRec" parameterType="int" resultMap="payrecSelectMap">
		SELECT PNO, STID, RECNO, PNAME, PDATE, PCDNAME, PCDNUM, PCDPW, PMONEY
		FROM payrec 
		WHERE PNO = #{value}
	 </select>
		 	 
</mapper>