<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReplCoachMapper">

	<resultMap id="replcoachSelectMap" type="com.model2.mvc.service.domain.ReplCoach">
		<result property="coachId" 	   column="STID" 		jdbcType="VARCHAR"/>
		<result property="repName"	   column="REPNAME" 	jdbcType="VARCHAR"/>
		<result property="repDate" 	   column="REPDATE" 	jdbcType="DATE"/>
		<result property="repMain" 	   column="REPMAIN" 	jdbcType="VARCHAR"/>
		<result property="repNumber"   column="REPNO"	    jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- insert -->
	<insert id="addCoachRepl" parameterType="replcoach">
	 	INSERT 
	 	INTO coachrep(STID, REPNAME, REPDATE, REPMAIN, REPNO)
	 	VALUES (#{coachId:VARCHAR}, #{repName:VARCHAR}, SYSDATE, #{repMain:VARCHAR}, seq_coachrep_REPNO.nextval)
	</insert>
	 
	<!-- select List -->
	<select id="getCoachReplList" resultMap="replcoachSelectMap">
	 	SELECT STID, REPNAME, REPDATE, REPMAIN, REPNO, ROWNUM AS row_seq
	 	FROM coachrep
	</select>
	
	<!-- update -->
	<update id="updateCoachRepl" parameterType="replcoach">
	 	UPDATE coachrep
	 	<set>
	 	REPNAME = #{repName:VARCHAR}, 
	 	REPMAIN = #{repMain:VARCHAR}
	 	</set>
	 	WHERE REPNO = #{repNumber:INTEGER}
	</update>

</mapper>